
    <div class="main">
      <div class="my-slider">
				<ul>
					<!--<li><img src = "https://postimg.org/image/4ebjtblm5/][img]https://s30.postimg.org/4ebjtblm5/Screen_Shot_2016_12_21_at_5_37_28_PM.png"></li>-->
          <li><img src = "https://s30.postimg.org/4ebjtblm5/Screen_Shot_2016_12_21_at_5_37_28_PM.png"></li>
					<!--<li><img src="https://postimg.org/image/5hvo5a699/][img]https://s30.postimg.org/5hvo5a699/Screen_Shot_2016_12_21_at_5_39_17_PM.png"></li>-->
          <li><img src=   "https://s30.postimg.org/5hvo5a699/Screen_Shot_2016_12_21_at_5_39_17_PM.png"></li>
					<!--<li><img src="https://postimg.org/image/pdrnktnal/][img]https://s30.postimg.org/pdrnktnal/Screen_Shot_2016_12_21_at_5_40_05_PM.png."></li>-->
          <li><img src=		"http://tinyurl.com/hw7mbrj"></li>
				</ul>
			</div> 
    </div>
