
<div class="jumbotron">
	<div class="container">
 		 <div class="main">
       <h1> Hello. My name is <span class="myspan"> Hassan Kamara</span> and I have creative ideas and build websites. </h1>
    </div>
    <div class="buttonImage">
      <a class="btn-primary" href="/pages/portfolio">View my work</a> 
    </div>
  </div>
</div>







